html {
	background-color: #000;
	overflow: hidden;
}

.absolute-center {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	vertical-align: center;
}

h1 {
	color: white;
	text-align: center;
}

.thing {
	color: white;
	padding-top: 40px;
	margin: auto;
    text-align: center;
    font-size: 50px;
}

.msg {
	font-size: 26px;
}

.share-btn {
	padding-left: 20px;
	padding-right: 20px;
}

#title-share {
	margin-bottom: 25px;
}

.carousel-3d-container {

}