<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <label>{{label}}</label>
    <input class="form-control email" placeholder="email@you.com (where to send video to)" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="text" ng-model="email" ng-show="type === 0">
    <input class="form-control email" placeholder="phone number" data-placement="top" data-trigger="manual" data-content="Must be a valid 10 digit number" type="text" ng-model="sms" ng-show="type === 1">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="send()">Send</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>